@import '../../../styles/utils.scss';

.container {
  margin-bottom: $spacing-xx-large;
}

.inventor {
  letter-spacing: 3px;
  padding-right: $spacing-small / 2;
  padding-left: $spacing-small / 2;
  font-family: $font-family-light;
}