/*GENERAL / MAIN*/

@font-face {
    font-family: 'proxima_nova_altlight';
    src: url('./fonts/pxnv/proxima_nova_alt_light-webfont.woff2') format('woff2'),
         url('./fonts/pxnv/proxima_nova_alt_light-webfont.woff') format('woff');
    font-weight: thin;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novabold';
    src: url('./fonts/pxnv/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('./fonts/pxnv/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('./fonts/pxnv/proximanova-regular-webfont.woff2') format('woff2'),
         url('./fonts/pxnv/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'proxima_novaregular', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	color: #444444;
	margin: 8px 0px;
}

.h1 {

}

.h1.project-title {
	font-size: 42px;
}

.h2 {
	font-size: 36px;
	width: 100%;
	margin-bottom: 20px;
}
.h3 {
	font-size: 24px;
	width: 100%;
	margin-bottom: 20px;
}

.h4 {
	font-size: 1.3em;
	margin-top: 0px;
	margin-bottom: 4px;
}

.h5{
	font-size: 1.5em;
	margin-bottom: 0px;
}

.h6 {
	margin-bottom: 5px;
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 14px;
	opacity: .8;
}

.h6 + .h5 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 30px;
}

p {
	font-size: 20px;
	margin-top: 10px;
}

.text-thin {
	font-family: 'proxima_nova_altlight', sans-serif;
	line-height: 115%;
}

a {
	color: #000;
	text-decoration: none;
}

p a:hover, .h5 a:hover {
	text-decoration: underline;
}

.text-dark {
	color: #828080;
}
.text-black {
	color: #444444;
}

.image-caption {
	font-size: 1em;
	font-family: 'proxima_nova_altlight', sans-serif;
}

strong {
	font-family: 'proxima_novabold';
}


/*HEADER*/

header {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    width: 100%;
	text-transform: uppercase;

}
@media only screen and (max-width: 780px) {
	header {
		padding-left: 10px;
		padding-right: 10px;
	}
}
header .name-title {
	margin-bottom: 0px;
	font-size: 1.56em;
}
.header-links {
	display: flex;
}
.header-links p {
	font-size: 1.1em;
}
.header-links p:first-of-type {
	margin-right: 20px;
}
.header-links p > a {
	color: #aaaaaa;
	text-decoration: none;
	transition: all .8s;
}
.header-links p > a:hover {
	color: #444444;
}


/*PROJECT CONTAINERS*/

.project-container {
	width: 100%;
	max-width: 1180px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
}

.project-image {
	width: 100%;
}

.overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	background: rgba(0,0,0, 0.8);
	text-align: left;
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease;
}

.project-container:hover .overlay {
	visibility: visible;
	opacity: 1;
}

.overlay .text-container {
	padding-left: 40px;
}
.overlay,
.overlay .text-container p,
.overlay .text-container h2 {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.overlay h2.h1 {
	font-size: 32px;
	
	text-decoration: none !important;
}
.overlay p.subtitle {
	margin-top: 10px;
}

@media only screen and (max-width: 780px) {
	.overlay h2.h1 {
		font-size: 48px;
	}
}


/*ON HOVER SHOW TEXT*/
/*.overlay {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	max-width: 1140px;
	height: 100%;
	z-index: 2;
	background: rgba(0,0,0,.5);
}*/


/*BOTTOM LINK TO TOP*/
.to-top {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.to-top.project-page {
	margin-top: 100px;
}
.to-top p {
	color: #999999;
	font-size: 18px;
	text-decoration: none;
	transition: all .8s;
	display: inline;
	cursor: pointer;
}
.to-top p:hover {
	color: #666666;
}

span.arrow {
	vertical-align: top;
}




/*ABOUT PAGE*/

.content-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 800px;
	margin: 0 auto;
}
.profile-image-container {
	width: 100%;
}
.profile-image-container img {
	width: 100%;
}
.about-me-container {
	width: 100%;
	margin-bottom: 40px;
	margin-top: 80px;
}


.sticky-container {
	max-width: 800px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 100px;
}
/*STICKIES*/
.sticky-intro {
	
}
.sticky-notes-container{
	display: flex;
	/* flex-wrap: wrap; */
	align-items: center;
	margin-top: 60px;
}
.sticky-outer {
	width: calc( (100% / 3) - 40px);
	min-width: 300px;
	margin-right: 40px;
}

.sticky-notes-container .h3 {
	/* width: calc( (100% / 3) + (100% / 3) ); */
}

.sticky-outer img {
	width: 100%;
}
.sticky-text h3 {
	margin-bottom: 10px;
}
.sticky-text p {
	font-family: 'proxima_nova_altlight';
}

@media only screen and (max-width: 780px) {
	.sticky-notes-container{
		display: block;
	}
	.sticky-outer {
		width: 100%;
		margin-top: 60px;
		margin-bottom: 10px;
	}


}



/*PROJECT PAGES*/
.main-img-container {
	width: 100%;
	text-align: center;
}

.main-img-container img {
	width: 100%;
}

.main-img-container.small img {
	max-width: 300px;
	margin: 0 auto;
}

.main-img-container.medium img {
	max-width: 500px;
	margin: 0 auto;
}

.project-body {
	max-width: 840px;
	margin: 0 auto;
}

.project-body.narrow {
	max-width: 640px;
}

.project-body.wide {
	max-width: 1000px;
}

.about-project p {
	margin-top: 0px;
	margin-bottom: 20px;
}


.row {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.title-left {
	width: 25%;
	margin-right: 20px;
}
.description-side {
	width: 60%;
	margin-left: auto;
}

.project-image {
	width: 100%;
/*	margin-top: 10px;
	margin-bottom: 10px;*/
}

.project-image img {
	width: 100%;
}

.project-image img.left {
	width: calc((100% / 2) - 40px);
	margin-right: 10px;
}
.project-image img.right {
	width: calc((100% / 2) - 40px);
	margin-left: 10px;
}


/*BOTTOM NAVIGATION*/

.bottom-navigation {
	max-width: 1000px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.bottom-navigation h5 a {
	font-size: 1.3em;
    font-weight: lighter;
    text-decoration: none;
}
