.jumbotron-fluid {
 /* background-image: url('./img/background-image.jpeg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */
  height: 90vh;
}


h1, h2 {
  vertical-align: middle;
  text-align: center;
  font-family: 'Lato', helvetica, sans-serif;
  font-size: 22px;
  color: #333333;
  padding-bottom: 10px;
}

h1 {
  font-size: 68px;
}

.primary-bg {
  background-color: #f9f9f9;
}

.secondary-bg {
  background-color: #ffffff;
}

.ternary-bg {
  background-color: #f9f9f9;
}

.footer-bg {
  color: #191919;
  background-color: #fff;
}

.footer-bg p {
  color: #454545;
}

.footer-2 {
  color: white;
  background-color: #191919;
}
.footer-2 p {
  color: #f9f9f9;
}

section {
  padding: 50px 20px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
}

h3 {
  font-family: 'Lato', helvetica, sans-serif;
  font-size: 45px;
  max-width: 700px;
  margin: 30px auto 20px auto;
}

p {
  max-width: 600px;
  margin: 0px auto;
  padding: 0 20px;
  font-family: 'Yantramanav', helvetica, sans-serif;
  color: #696969;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
  text-indent: 40px;
  margin-bottom: 20px;
  /* color: #696969; */
}

p.text-center {
  text-indent: 0px;
  color: #212529;
}

p.img-description {
  color: #696969;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover, a:focus, a:active {
  color: inherit;
  font-weight: bold;
}

div.number {
  text-align: center;
  border-radius: 100%;
  border: 3px solid #212529;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 30px;
}

div.number span {
  font-size: 30px;
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

/* .number  span {
  border-radius: 100%;
  border: 2px solid #454545;
  padding: 8px;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

span::after {
  width: 40px;
  height: 40px;
  background-color: red;
} */

img {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 20px auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

img.icon {
  max-width: 40px;
  fill: #696969 !important;
}

img.no-shadow {
  box-shadow: none;
}
