@import '../../styles/utils.scss';

.paragraph {
  color: $color-primary;
  font-size: $font-size-small;
  line-height: 1.3;
  margin-bottom: $spacing-regular;
  text-align: justify;

  @include mq($until: tablet) {
    text-align: left;
  }
}

.presentation {
  color: $color-primary;
  font-size: $font-size-regular;
  line-height: 1.3;
  margin-bottom: $spacing-regular;
  text-align: justify;

  @include mq($until: tablet) {
    text-align: left;
  }
}

.title {
  color: $color-primary;
  font-size: $font-size-regular;
  line-height: 1.3;
  letter-spacing: 2px;
  margin-bottom: $spacing-small;
  font-family: $font-family-bold;
  text-transform: uppercase;
}

.annotation {
  font-family: $font-family-light;
  color: $color-primary;
  font-size: $font-size-x-small;
  line-height: 1.3;
}
