@import '../../styles/utils.scss';

.experiments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mq($until: tablet) {
    justify-content: center;
  }

  img {
    width: 280px;
    margin-bottom: $spacing-large;
  }
}