@import './styles/utils.scss';

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-family-regular;
	background-color: $color-background;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
	transition: opacity 250ms ease-in;
	transition-delay: 250ms;
}

.fade-exit {
  display: none
}
