@import '../../styles/utils.scss';

.container {
  display: flex;
  flex-direction: column;

  .screenshot {
    width: 100%;
  }

  .smallScreenshot {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .center {
    max-width: 500px;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  ul {
    list-style-type: disc;
    li {
      margin-left: 30px;
    }
  }
  .link {
    a {
      text-decoration: none;
      color: $color-link;
    }
    &:hover a {
      color: $color-link-hover;
    }
  }

}
